USE [master]
GO
/****** Object:  Database [MostriVEroi]    Script Date: 18/06/2021 12:30:31 ******/
CREATE DATABASE [MostriVEroi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MostriVEroi', FILENAME = N'C:\Users\allbe\MostriVEroi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MostriVEroi_log', FILENAME = N'C:\Users\allbe\MostriVEroi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MostriVEroi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MostriVEroi]
GO
USE [MostriVEroi]
GO
/****** Object:  Table [dbo].[Utente]    Script Date: 18/06/2021 12:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utente](
	[UserName] [nchar](50) NOT NULL,
	[Password] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eroi]    Script Date: 18/06/2021 12:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eroi](
	[Categoria] [nchar](30) NOT NULL,
	[Nome] [nchar](30) NOT NULL,
	[Arma] [nchar](30) NOT NULL,
	[ArmaPuntiDanno] [int] NOT NULL,
	[username] [nchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partita]    Script Date: 18/06/2021 12:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partita](
	[Livello] [int] NOT NULL,
	[PuntiVita] [int] NOT NULL,
	[PuntiAccumulati] [int] NOT NULL,
	[Username] [nchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ClassificaGlobale]    Script Date: 18/06/2021 12:30:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ClassificaGlobale]  
AS  
SELECT e.username, p.categoria, p.nome, p.arma, d.puntiaccumulati,  d.puntivita, d.livello
FROM Utente AS e JOIN Eroi AS  p 
ON e.username = p.username   
join Partita as d
on e.username  = d.username
GO
USE [master]
GO
